@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Maven+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: orange;
  height: 150px;
}

.logo {
  background-color: orangered;
  padding: 30px;
}
.logo h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
}

.navbar {
  background-color: #f6b640 !important;
  display: inline;
  padding: 30px;
  text-decoration: none;
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  color: black;
  align-content: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.navbar-nav a {
  text-decoration: none;
  color: black !important;
  font-family: "Fjalla One", sans-serif;
}
.navbar-nav a:hover {
  color: #f9f9ad !important;
}

.conteiner-fluid1 {
  background-image: url(img/6A411301-F743-4E85-A580-67AB0F19\ \(1\).jpg);
  filter: brightness(70%);
}

h2 {
  width: 100%;
  height: 60px;
  padding: 20px;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  background-color: #f6b640;
}
h2 {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.conteiner-fluid {
  background-color: #f9f9ad;
  width: 100%;
  padding: 20px;
}
.conteiner-fluid .indcaja1 {
  transform: scale 1.7;
  transition: all 2s;
  filter: brightness(70%);
  object-fit: contain;
}
.conteiner-fluid .indcaja1:hover {
  padding: 16px;
  position: sticky;
}

.indcaja2 {
  width: 100%;
  height: 380px;
  padding: 14px;
  border-radius: 5px solid #f6b640;
}

.indcaja2 p {
  font-size: 18px;
  color: black;
  font-family: "Maven Pro", sans-serif;
  text-align: center;
}

.conteiner-fluid {
  background-color: #f9f9ad;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: "Maven Pro", sans-serif;
}

.box1, .box3, .box2 {
  border-radius: 2px solid orangered;
  background-color: #f6b640;
  font-family: "Maven Pro", sans-serif;
  text-align: center justify;
}
.box1:hover, .box3:hover, .box2:hover {
  background-color: #f9f9ad;
}

.box2 {
  border-radius: 5px solid orangered;
}

.call2 a {
  width: 80px;
  height: 40px;
  padding: 5px 5px;
  border-radius: 5px;
  color: orangered;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}

.box3 {
  border-radius: 2px solid orangered;
}

.call3 a {
  width: 80px;
  height: 40px;
  padding: 5px 5px;
  border-radius: 5px;
  color: orangered;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}

.cuadro {
  padding: 20px;
  border-radius: 5px solid #f9f9ad;
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.cuadro:hover {
  color: orange;
}

.carousel-inner {
  text-align: center;
}

.carousel-item {
  filter: brightness(70%);
}
.carousel-item {
  animation-duration: 8s;
  animation-name: animate__jello;
  animation-iteration-count: initial;
}
@keyframes animate__jello {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 103;
  }
}

.conteiner-fluid2 {
  padding: 20px;
  background-color: rgb(249, 249, 173);
  text-align: center;
}
.conteiner-fluid2 p {
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
}

.cuad1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  text-align: justify center;
}
.cuad1:hover {
  color: orangered;
}

.cuad2 {
  filter: brightness(70%);
}

.CONTACTO {
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  text-align: center;
}

.btn-outline-primary {
  color: orangered;
  border-color: orangered;
}

.redes {
  background-color: orangered;
  position: absolute;
  min-width: 100%;
  min-height: 100px;
  color: black;
  list-style: none;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
}

.fa-brands {
  color: black;
  height: 40px;
}

.fab {
  color: black;
  height: 40px;
}

.footer {
  font-family: "Maven Pro", sans-serif;
  font-size: 10px;
  padding: 30px;
  text-align: center;
}

.subir {
  height: 50px;
  width: 50px;
  background-color: orangered;
  position: fixed;
  padding: 5px;
  bottom: 30px;
  right: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 32px;
  border-radius: 50%;
  border: 5px solid white;
  color: white;
  box-shadow: 1 1 10px white;
}
.subir {
  animation-duration: 3s;
  animation-name: animate__rubberBand;
  animation-delay: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes animate__rubberBand {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=estilos.css.map */
