@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Maven+Pro&display=swap');
$letra1: 'Fjalla One', sans-serif;
$letra2: 'Maven Pro', sans-serif;

$color1:orange;
$color2:orangered;
$color4: #f6b640;
$color5:#f9f9ad;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: $color1;
    height: 150px;

}

.logo{    
    background-color: $color2;
    padding: 30px;
    h1{
        font-family: $letra1;
        font-size: 60px;
        color: black;
        text-align: center;
    }
}
.navbar {
    background-color: $color4 !important;
    display: inline;
    padding: 30px;
    text-decoration: none;
    font-family: $letra1;
    font-size: 30px;
    color: black;
    align-content: center;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    text-align: center;

}
.navbar-nav a {
    text-decoration: none;
    color:black !important;
    font-family: $letra1;
        &:hover {
        color: $color5 !important;   
    }
}

.conteiner-fluid1 {
    background-image: url(img/6A411301-F743-4E85-A580-67AB0F19\ \(1\).jpg);    
    filter: brightness(70%);
}

h2{
    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: center;
    font-family:$letra1;
    font-size: 30px;
    background-color: $color4;
    & {
        animation-duration: 3s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
}
.conteiner-fluid{
    background-color: $color5;
    width: 100%;
    padding: 20px;

    .indcaja1{
    transform: scale (1.7);
    transition: all 2s;
    filter: brightness(70%);
    object-fit: contain;
        &:hover{
        padding: 16px;
        position: sticky;
        }
    }
}
    .indcaja2 {
    width: 100%;
    height:380px;
    padding: 14px;
    border-radius: 5px solid $color4;
    }
        .indcaja2 p {
        font-size: 18px;
        color: black;
        font-family:$letra2;
        text-align: center;
        }

.conteiner-fluid{
    background-color: $color5;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: $letra2;
    }
    @mixin sizes ($min-height,$pading,$border){
        $min-height:ancho;
        $padding:margen;
        $border:borde;
    } 
    .box{
        @include sizes(100px,20px ,5px);
    }
.box1{
    border-radius: 2px solid $color2;
    background-color: $color4;
    font-family:$letra2;
    text-align: center justify;
        &:hover{
        background-color: $color5;
        }
}
.box2{
   @extend .box1;
   border-radius: 5px solid $color2;
   
}
.call2 a{
    width: 80px;
    height: 40px;
    padding: 5px 5px;
    border-radius:5px;
    color: orangered;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    
}
.box3{
   @extend .box1;
   border-radius: 2px solid $color2;
  
}
.call3 a{
    width: 80px;
    height: 40px;
    padding: 5px 5px;
    border-radius:5px;
    color: orangered;
    text-decoration: none;
    font-size: 15px;    
    text-align: center;
    
}
.cuadro{
    padding: 20px;
    border-radius: 5px solid $color5;
    font-size: 15px;
    font-family: $letra2;
    text-align: center;
    justify-content: center;
    align-content: center;
    &:hover{
        color: $color1;
        }
}
.carousel-inner {
    text-align: center;
}  

.carousel-item {
    filter: brightness(70%);
    & {
        animation-duration: 5s;
        animation-name: animate__jello;
        animation-iteration-count:initial;
        }
        @keyframes animate__jello {
            from {
              margin-left: 100%;
              width: 300%
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
    }
}
.conteiner-fluid2{
    padding: 20px;
    background-color: rgb(249, 249, 173);
    text-align: center;
    p {
        font-family: $letra2;
        font-size: 20px;
    }
}
.cuad1{
    font-family: $letra2;
    font-size: 18px;
    text-align: justify center;
        &:hover{
            color: $color2;
        }

}
.cuad2{
    filter: brightness(70%);

}
.CONTACTO {
    font-family: $letra2;
    font-size: 20px;
    text-align: center;
}
.btn-outline-primary{
    color: $color2;
    border-color: $color2;
}

.redes{
    background-color: $color2;
    position: absolute;
    min-width: 100%;
    min-height: 100px;
    color: black;
    list-style:none;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: $letra2;
    font-size: 20px;
}
.fa-brands{
    color: black;
    height: 30px;
    font-size: 30px;
}
.fab{
color: black;
height: 30px;
font-size: 30px;
}
.footer{
    font-family: $letra2;
    font-size: 10px;
    padding: 30px;
    text-align: center;
}
.subir {
    height: 45px;
    width: 45px;
    background-color: $color2;
    position: fixed;
    padding: 2px;
    bottom: 30px;
    right: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    border-radius: 50%;
    border: 5px solid white;
    color: white;
    box-shadow: 1 1 10px white;   
        &{
            animation-duration: 3s;
            animation-name: animate__rubberBand;
            animation-delay: 8s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }
@keyframes animate__rubberBand {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}